<nav class="footer-nav">
  <ul>
    <li>Built by the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a></li>
    <li><a href="#">Cookies</a></li>
  </ul>
</nav>
