{% extends "common/templates/layout.njk" %}

{% block pageTitle %}
  {{ message }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ message }}
    </h1>
  </div>
</div>
{% endblock %}
