{% extends "common/templates/layout.njk" %}

{% block pageTitle %}
  {{ message }}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl">
    {{ message }}
  </h1>
</div>
{% endblock %}
