{% extends "common/templates/layout.njk" %}

{% block page_title %}
  {{ message }}
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <h1 class="heading-large">
      {{ message }}
    </h1>
  </main>
{% endblock %}
